@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --text-small: 16px;
  --text-medium: 20px;
  --text-header: 30px;
  --text-subHeader: 24px;
  --text-title: 50px;
  --color-onWhiteGray: #8c8c8c;
  --spacing-global_y: 130px;
  --spacing-global_x: 50px;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  background: var(--background);
  color: var(--foreground);
  font-family: mont, sans-serif;
}
